<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body>
<div class="container-fluid bg-light">
        <div class="row">
            <div class="col-md-12 bg-dark text-white">
                <nav th:object="${currentUser}" class="navbar navbar-dark bg-dark">
                    <span class="navbar-text" >
                        <span th:text="${currentUser.email}"></span> with roles: <span th:each="role :${currentUser.roles}" th:text="${role.name}"></span>
                    </span>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn" type="submit" value="Logout"/>
                    </form>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 bg-light">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 bg-white">
                <ul class="nav flex-column nav-pills">
                    <li>
                        <a class="nav-item nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" id="v-pills-user-tab" th:href="@{/user}" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <h1>Admin panel</h1>
                    <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                        <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-allUsers-tab" data-bs-toggle="tab" href="#nav-allUsers" role="tab" aria-controls="nav-allUsers" aria-selected="true">Users table</a>
                            <a class="nav-link" id="nav-newUser-tab" data-bs-toggle="tab" href="#nav-newUser" role="tab" aria-controls="nav-newUser" aria-selected="false">New user</a>
                        </nav>
                        <div class="tab-content border bg-white" id="nav-tabContent">
                            <div class="tab-pane active" id="nav-allUsers" role="tabpanel" aria-labelledby="nav-allUsers-tab">
                                <h5 class="p-3 bg-light"> All users</h5>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Delete</th>
                                        <th scope="col">Update</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user: ${allUsers}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>
                                            <ul>
                                                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                                            </ul>
                                        </td>
                                        <td>

                                            <button type="button" class="btn btn-danger btn-primary" data-bs-toggle="modal" th:data-bs-target="'#deleteUserModal' + ${user.id}">Delete</button>

                                            <div class="modal fade" th:id="'deleteUserModal' + ${user.id}" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="p3 modal-title" id="deleteUserModalLabel">Delete User</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 text-center">
                                                                    <form th:method="POST" th:action="@{/admin/deleteUser}">
                                                                        <input type="hidden" name="userId" th:value="${user.id}">
                                                                        <div class="form-group">
                                                                            <label for="userId">ID</label>
                                                                            <div class="col-sm-10">
                                                                                <input class="form-control" type="text" id="userId" placeholder="ID" th:placeholder="${user.id}" th:value="${user.id}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="name">Name</label>
                                                                            <div class="col-sm-10">
                                                                                <input class="form-control" type="text" id="name" placeholder="Name" th:placeholder="${user.name}" th:value="${user.name}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="email">Email</label>
                                                                            <di class="col-sm-10">
                                                                                <input class="form-control" type="email" id="email" placeholder="Email" th:placeholder="${user.email}" th:value="${user.email}" readonly>
                                                                            </di>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="roles">Role</label>
                                                                            <select class="col-sm-10" th:readonly="true">
                                                                                <option id="roles" th:each="role : ${user.roles}" th:text="${role.name}" th:placeholder="${role.name}" th:value="${role.name}" th:readonly="true"></option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>

                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#updateUserModal' + ${user.id}">Update</button>

                                            <div class="modal fade" th:id="'updateUserModal' + ${user.id}" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title p3" id="updateUserModalLabel">Update User</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 text-center">
                                                                    <form th:method="POST" th:action="@{/admin/updateUser}" th:object="${user}">
                                                                        <input type="hidden" name="userId" th:value="${user.id}">
                                                                        <div class="form-group">
                                                                            <label for="userId">ID</label>
                                                                            <div class="col-sm-10">
                                                                                <input class="form-control" type="text" id="userId" name="id" th:placeholder="*{id}" th:value="*{id}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="name">Name</label>
                                                                            <div class="col-sm-10">
                                                                                <input class="form-control" type="text" id="name" name="name" th:placeholder="*{name}" th:value="*{name}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="email">Email</label>
                                                                            <div class="col-sm-10">
                                                                                <input class="form-control" type="email" id="email" name="email" th:placeholder="*{email}" th:value="*{email}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="password">Password</label>
                                                                            <div class="col-sm-10">
                                                                                <input class="form-control" type="text" id="password" name="password" th:placeholder="*{password}" th:value="*{password}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="roles">Role</label>
                                                                            <div class="col-sm-10">
                                                                                <select class="form-control" id="roles" name="roles" multiple>
                                                                                    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-primary">Update</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="nav-newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">
                                <h5 class="p3 bg-light border-bottom">Add new user</h5>
                                <div class="row justify-content-center">
                                    <div class="col-6 text-center" style="display: flex; align-items: center; justify-content: center">
                                        <form id="new-user-form" style="flex: auto; max-width: 30% ">
                                            <div style="width: 100%; display: flex; flex-direction: column;  align-items: center;
                                justify-content: center">
                                                <h6 class="card-title" style="margin: 5px 0; text-align: center">Email</h6>
                                                <input required type="text" name="email"
                                                       class="form-control" placeholder="Email">
                                                <h6 class="card-title" style="margin: 5px 0; text-align: center">First name</h6>
                                                <input required type="text" name="firstName"
                                                       class="form-control" placeholder="Firstname">
                                                <h6 class="card-title" style="margin: 5px 0; text-align: center">Last name</h6>
                                                <input required type="text" name="lastName"
                                                       class="form-control" placeholder="Lastname">
                                                <h6 class="card-title" style="margin: 5px 0; text-align: center">Age</h6>
                                                <input required type="text" name="age"
                                                       class="form-control" placeholder="Age">
                                                <h6 class="card-title" style="margin: 5px 0; text-align: center">Password</h6>
                                                <input type="password" name="password" class="form-control" placeholder="Password"
                                                       aria-describedby="passwordHelpBlock">
                                                <small id="passwordHelpBlock" class="form-text text-muted">
                                                    Your password must contain letters and numbers or symbols and must not contain spaces.
                                                </small>
                                                <h6 class="card-title" style="margin: 5px 0; text-align: center">Role</h6>
                                                <select id="new-roles" required multiple class="form-control" size="2" name="roles">

                                                </select>
                                                <button style="margin: 10px 0" type="submit" class="btn btn-lg btn-success">Add new
                                                    user
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/index.js"></script>
</body>
</html>