<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <section class="main">
    <h2 class="main__title">Edit user</h2>
    <form th:method="POST" th:action="@{/admin/updateUser}" th:object="${user}">
      <label for="name">Введите имя: </label>
      <input type="hidden" th:field="*{id}" />
      <input type="text" th:field="*{name}" id="name">
      <br>
      <label for="name">Введите почту: </label>
      <input type="text" th:field="*{email}" id="email">
      <br>
      <label for="name">Введите пароль: </label>
      <input type="text" th:field="*{password}" id="password">
      <br>
      <label for="roles">Выберите роли: </label>
      <select id="roles" name="roles" multiple required>
        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
      </select>
      <input type="submit" value="Изменить">
    </form>
    <br>
    <form th:action="@{/logout}" method="post">
      <label>Выйти из аккаунта:</label>
      <input type="submit" value="Logout"/>
    </form>
  </section>
</div>
</body>
</html>